/* So the HTML5 structural tags work in older browsers */
	article, aside, figure, footer, header, nav, section {
	    display: block;
	}
/* General */
	body{
		font-family: Open Sans, sans-serif;
		padding:0;
		margin:0;
	}
/* Header */
	header h1{
		color:white;
		font-size:64px;
		margin-top:15px;
		font-family: Quicksand, sans-serif;
		font-weight:300;
		position:absolute;
		bottom:7%;
		background-color:rgba(46,52,54,0.4);
		padding: 0px 10px 5px 10px;
		margin:0;
	}
	header{
		position:relative;
		top:0px;
		left:0px;
		width:100%;
	}
	header img{
		min-width:100%;
		max-width:100%;
	}

/* Sections */
	section h1{
		font-family:Quicksand;
		margin:4px 0px;
		color:white;
		background:#2e3436;
		position:relative;
		margin-left:-2.5%;
		padding:10px;
		padding-left:15px;
	}
	section{
		position:relative;
		width:80%;
		margin:0% 10%;
		margin-top:10px;
		border:solid #2e3436 1px;
	}
	section::first-of-type{
		margin:0% 10%;
	}
	p{
		margin:0;
		padding:5px 10px;
	}
	.photo{
		padding-bottom:5px;
	}
	.photo:after { /* ClearFix */
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.photo img{
		max-height:150px;
		margin:10px;
		margin-top:5px;
		float:left;
		/* I've ignored the requirement of a 1-pixel border on the images for aesthetic reasons. However, the following code, if un-commented, would create the required borders. */
		/* border: solid #2e3436 1px; */
	}
	.photo a.viewfull{
		position:absolute;
		bottom:5px;
		right:5px;
		font-size:.8em;
		clear:left;
	}
/* Footer */
	footer{
		position:relative;
		bottom:0px;
		left:0px;
		width:100%;
		text-align:center;
		font-size:.6em;
		clear:left;
	}